/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
.navbar {
  background-color: #ff0000;
  background-size: cover;
  height: 40px;
  width: 98%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 1%;
  left: 1%;
  right: 1%;
  z-index: 2;
  box-shadow: 0px 5px 10px black;
}
.navbar .logo {
  width: 7%;
  height: auto;
}
.navbar nav {
  display: inherit;
  justify-content: space-evenly;
  width: 800px;
  align-items: center;
}
.navbar nav a {
  color: #f5f5f5;
  font-weight: 600;
  display: inherit;
  justify-content: space-evenly;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.navbar nav a:hover {
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: 0px 0px 10px #000000;
  text-decoration: underline;
}
.bottom-menu {
  box-shadow: 0px -5px 10px black;
  height: 40px;
  background-color: green;
  top: 94.7vh;
  position: fixed;
}
.nav-link {
  color: #f5f5f5;
  font-weight: 600;
  display: inherit;
  justify-content: space-evenly;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover {
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: 0px 0px 10px #000000;
  text-decoration: underline;
}
.tab-selected {
  color: red;
}
.click-menu {
  position: sticky;
  top: 0;
}
.container {
  font-size: 1.4rem;
  line-height: 1.4rem;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  max-width: 1920px;
  width: 100%;
  background-image: url("/img/board.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container .content {
  width: 98%;
  background-color: whitesmoke;
  margin: 0 auto;
  margin-bottom: 1%;
}
.body-text {
  line-height: 2.4rem;
  word-wrap: break-word;
}
.body-text h2 {
  font-family: 'Francois One', sans-serif;
  line-height: 4rem;
}
.body-text h3 {
  font-family: 'Francois One', sans-serif;
  font-size: 3rem;
  margin-top: 1%;
}
.body-text p {
  margin: 2% auto;
  width: 40%;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .body-text p {
    width: 80%;
  }
}
.body-text .team-section {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-weight: 600;
}
.body-text .team-section .team-member {
  margin: 0 4px;
  border-radius: 50%;
  margin-top: 5px;
  width: 200px;
  height: 200px;
  border: 5px solid green;
  transition: all 0.2s ease-in-out;
}
.body-text .team-section .team-member:hover {
  border: 5px solid red;
  transform: scale(1.1);
  opacity: 0.4;
  box-shadow: 0px 0px 50px black;
}
.body-text h2 {
  font-size: 7rem;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .body-text h2 {
    font-size: 3.5rem;
  }
}
.info-panel {
  display: none;
}
.info-panel-selected {
  height: fit-content;
  display: block;
  padding: 2%;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .info-panel-selected {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80%;
  }
}
.banner {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-wrap: wrap;
  max-height: 98vh;
}
@media (max-width: 500px) {
  .banner {
    height: 100vh;
  }
}
.banner .banner-intro-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  width: 670px;
}
.banner .banner-intro-text h1 {
  font-family: 'Francois One', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 10rem;
  text-transform: uppercase;
  height: 100px;
  overflow: hidden;
  margin: 0;
  position: relative;
  text-shadow: 2px 2px 8px #000000;
}
@media (max-width: 500px) {
  .banner .banner-intro-text .too-tall {
    font-size: 8rem;
  }
}
.banner .banner-intro-text .hidetext {
  color: whitesmoke;
  top: 135px;
  position: absolute;
  z-index: 1;
  margin: 0;
}
.banner .banner-intro-text .hidebutton {
  margin-top: 10px;
}
.banner .banner-intro-text .hidebutton button {
  top: 0;
  font-size: 2.5rem;
  color: whitesmoke;
  height: 50px;
  width: 300px;
  background-color: green;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 8px #000000;
}
.banner .banner-intro-text .hidebutton button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #000000;
}
.banner .pizza-banner {
  width: auto;
  height: auto;
  z-index: 0;
}
@media (max-width: 500px) {
  .banner .pizza-banner {
    display: none;
  }
}
.link-clicked {
  height: 600px;
}
.link-clicked .pizza-banner {
  height: 700px;
}
