.banner {
    display : flex;
    height  : 550px;
    overflow: hidden;

    .banner-intro-text {
        margin-top : 70px;
        margin-left: 5px;
        width      : 670px;

        h1 {
            font-family: 'Francois One',
                sans-serif;
            display        : flex;
            justify-content: center;
            font-size      : 10rem;
            text-transform : uppercase;
            height         : 100px;
            overflow       : hidden;
            margin         : 0;
            position       : relative;
        }

        .hidetext {
            color: whitesmoke;
            padding-top: 130px;
            position   : absolute;
            z-index    : 1;
            margin     : 0;
        }
    }

    .pizza-banner {
        width     : auto;
        height    : 650px;
        margin-top: -10px;
        z-index   : 0;
    }
}