.container {
    font-size     : 1.4rem;
    display       : flex;
    flex-direction: column;
    line-height   : 2rem;
    font-family   : 'Open Sans',
        sans-serif;
    max-width            : 1920px;
    width: auto;
    height: auto;
    margin               : 0 auto;
    background-image     : url("/imgs/board.jpg");
    background-position  : center center;
    background-repeat    : no-repeat;
    background-attachment: fixed;
    background-size      : cover;

    .content {
        background-color: white;
        height          : 600px;
        width           : auto;
        bottom          : 0;
        display         : inherit;
        justify-content : center;

        .body-text {
            width: 900px;
        }
    }
}