.container {
    font-size     : 1.4rem;
    line-height   : 1.4rem;
    display       : flex;
    flex-direction: column;
    font-family   : 'Open Sans',
        sans-serif;
    max-width            : 1920px;
    width                : auto;
    background-image     : url("/img/board.jpg");
    background-position  : center center;
    background-repeat    : no-repeat;
    background-attachment: fixed;
    background-size      : cover;


    .content {
        background-color: whitesmoke;

        .body-text {
            line-height: 2.4rem;

            word-wrap: break-word;

            h2 {
                font-size    : 7rem;
                margin-bottom: 20px;

                @media (max-width: 500px) {
                    font-size: 3.5rem;
                }
            }
        }
    }
}

.info-panel {
    display: none;
}


.info-panel-selected {
    height    : 28.5vh;
    display   : block;
    padding   : 2%;
    text-align: center;
    width     : 60%;
    margin    : 0 auto;

    @media (max-width: 500px) {
        flex-direction: column;
        height        : 50vh;
        width         : 80%;
    }
}