.navbar {
    background-color: white;
    background-size : cover;
    height          : 40px;
    width           : 100%;
    display         : flex;
    justify-content : center;
    position        : fixed;
    top             : 0;
    z-index         : 2;


    nav {
        display        : inherit;
        justify-content: space-around;
        width          : 800px;
        align-items    : center;

        a {
            font-weight: 600;
            display        : inherit;
            justify-content: space-evenly;
            text-decoration: none;

        }
    }
}