.navbar {
    background-color: #ff0000;
    background-size : cover;
    height          : 40px;
    width           : 100%;
    display         : flex;
    justify-content : center;
    position        : fixed;
    top             : 0;
    z-index         : 2;
    box-shadow      : 0px 5px 10px black;


    nav {
        display        : inherit;
        justify-content: space-around;
        width          : 800px;
        align-items    : center;

        a {
            color          : #f5f5f5;
            font-weight    : 600;
            display        : inherit;
            justify-content: space-evenly;
            text-decoration: none;
            transition     : all .2s ease-in-out;


            &:hover {
                cursor         : pointer;
                transform      : scale(1.1);
                text-shadow    : 0px 0px 10px #000000;
                text-decoration: underline;
            }

        }
    }
}

.bottom-menu {
    box-shadow      : 0px -5px 10px black;
    height          : 40px;
    background-color: green;
    top             : 95.7vh;
    position        : fixed;
}

.bot-nav-tab {
    color          : #f5f5f5;
    font-weight    : 600;
    display        : inherit;
    justify-content: space-evenly;
    text-decoration: none;
    transition     : all .2s ease-in-out;

    &:hover {
        cursor         : pointer;
        transform      : scale(1.1);
        text-shadow    : 0px 0px 10px #000000;
        text-decoration: underline;
    }
}

.tab-selected {
    color: red;
}

.click-menu {
    position: sticky;
    top     : 0;
}